# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.New Unity Project.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pablo\Desktop\UCA\Taller de Gestion de Contenidos\New Unity Project\.idea\.idea.New Unity Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
